# Dependencies
/node_modules
/backend/services/ai-ocr/node_modules
/backend/services/user/node_modules

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build artifacts
/build
/dist
/out

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Other
.DS_Store
Thumbs.db
